body, html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: default;
	background: #F6F6F6;
}


/**Mobile Version*/
@media (max-width: 480px) {
	.menu-item {
		display: none;
	}

	.menu-item:first-child {
		display: block;
		color: #F8CA00;
		font-size: 1.3em;
		font-weight: 700;
		padding-top: 3%;
		padding-bottom: 3%;
		-webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	    text-align: center;
		text-decoration: none;
	}

	.link {
		width: 100%;
		color: #F8CA00;
		font-size: 1.3em;
		font-weight: 700;
		padding-top: 3%;
		padding-bottom: 3%;
		cursor: pointer;
		-webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	    text-align: center;
		text-decoration: none;
	}

	.menu-active {
		color: #F6F6F6;
	}

	.link-active {
		color: #F6F6F6;
	}

	#menu-container {
		width: 100%;
		height: 10%;
		background: #355C7D;
		z-index: 100;
	}

	#title {
		text-align: center;
		font-size: 2em;
		font-weight: 700;
		margin-top: 8%;
		color: #355C7D;
	}

	#officer-img {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5%;
		-webkit-border-radius: 1%;
	    -moz-border-radius: 1%;
	    -o-border-radius: 1%;
	    border-radius: 1%;
		border: 0.3em solid #F8CA00;
	}

	#description-container {
		margin-top: 5%;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		color: #355C7D;
	}

	#description {
		line-height: 2em;
		font-weight: 600;
	}

	#officer-container {
		display: none;
	}


	/**Bios*/
	.bio-container {
		margin-top: 10%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		color: #355C7D;
	}

	.bio-container:last-child {
		margin-bottom: 5%;
	}

	.bio {
		overflow: auto;
		border: 0.3em solid #355C7D;
		padding: 2%;
	}

	.name {
		font-size: 1.4em;
		font-weight: 700;
		text-align: center;
	}

	.year {
		font-size: 1.2em;
		font-weight: 700;
		text-align: center;
	}

	.position {
		width: 100%;
		font-size: 1.2em;
		font-weight: 700;
		font-style: italic;
		text-align: center;
	}

	.bio-img {
		width: 90%;
		margin-top: 5%;
		margin-right: auto;
		margin-left: auto;
	}

	.actual-img {
		border: 0.3em solid #F8CA00;
		-webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 50%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}

	.bio-text {
		margin-top: 5%;
		line-height: 2em;
		margin-top: 2%;
		font-weight: 700;
	}
}


/**Laptop Version*/
@media (min-width: 481px) {
	/**Menu*/
	#menu-container {
		width: 100%;
		height: 10%;
		background: #355C7D;
		position: fixed;
		z-index: 100;
	}

	.menu-item {
		position: fixed;
		color: #F8CA00;
		font-size: 1.3em;
		font-weight: 700;
		top: 3%;
		cursor: pointer;
		-webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	}

	.link {
		text-decoration: none;
		color: #F8CA00;
		-webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	}

	.link-active {
		color: #F6F6F6;
	}

	.menu-active {
		color: #F6F6F6;
	}

	#announcements {
		right: 3%;
	}

	#tournaments {
		right: 19%;
	}

	#practices {
		right: 33%;
	}

	#officers {
		right: 45%;
	}

	#about-us {
		right: 56%;
	}

	#home {
		left: 3%;
	}


	/**Page*/
	#page {
		position: absolute;
		top: 14%;
		width: 100%;
		height: 100%;
		color: #355C7D;
	}


	/**Title*/
	#title-container {
		
	}

	#title {
		text-align: center;
		font-size: 2em;
		font-weight: 700;
	}

	#officer-img {
		width: 60%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
		-webkit-border-radius: 1%;
	    -moz-border-radius: 1%;
	    -o-border-radius: 1%;
	    border-radius: 1%;
		border: 0.3em solid #F8CA00;
	}

	#description-container {
		margin: 2% 3% 0% 3%;
	}

	#description {
		line-height: 2em;
		font-weight: 600;
	}

	/**Officers*/
	#officer-container {
		margin-top: 5%;
		margin-bottom: 5%;
		overflow: auto;
	}

	.officer-heading {
		text-align: center;
		font-size: 2em;
		font-weight: 700;
	}

	.row {
		margin: 3% 3% 0% 3%;
		text-align: center;
	}

	.officer {
		-webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 50%;
		width: 150px;
		height: 150px;
		display: inline-block;
		margin-left: 50px;
		cursor: pointer;
		border: solid #F8CA00;
		-webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	}

	.officer-active {
		width: 175px;
		height: 175px;
	}

	.officer:nth-child(1) {
		margin-left: 0px;
	}

	#previous {
		margin-top: 5%;
	}


	/**Bios*/
	.bio-container {
		margin: 0% 3% 1% 3%;
		position: absolute;
	}

	.bio {
		overflow: auto;
		border: 0.3em solid #355C7D;
		padding: 2%;
	}

	.name {
		float: left;
		font-size: 1.4em;
		font-weight: 700;
	}

	.year {
		float: right;
		font-size: 1.2em;
		font-weight: 700;
	}

	.position {
		width: 100%;
		float: left;
		font-size: 1.2em;
		font-weight: 700;
		font-style: italic;
	}

	.bio-img {
		width: 35%;
		float: left;
		margin-top: 2%;
	}

	.actual-img {
		border: 0.3em solid #F8CA00;
		-webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 50%;
		position: relative;
		left: 5%;
		width: 95%;
	}

	.bio-text {
		width: 60%;
		float: right;
		line-height: 2em;
		margin-top: 2%;
		font-weight: 700;
	}

	#jack-bio {
		display: none;
	}

	#nathan-bio {
		display: none;
	}

	#suchi-bio {
		display: none;
	}

	#jane-bio {
		display: none;
	}

	#kenneth-bio {
		display: none;
	}

	#lawrence-bio {
		display: none;
	}

	#lisa-bio {
		display: none;
	}

	#chris-bio {
		display: none;
	}

	#jeanine-bio {
		display: none;
	}

	#debbie-bio {
		display: none;
	}

	#tony-bio {
		display: none;
	}

	#jordan-bio {
		display: none;
	}

	#robert-bio {
		display: none;
	}
}
